<!-- <div class="container-fluid p-5">
  <h3 class="h3 text-center">Custom Directive File Upload And Drag and Drop</h3>
  <hr />
  <div
    class="container"
    appPractice
    (fileDropped)="onFileDropped($any($event))"
  >
    <i class="fa-solid fa-cloud-arrow-up fs-1"></i>
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
    <form class="row" [formGroup]="frmImageUpload">
      <input
        type="file"
        #fileDropRef
        id="fileDropRef"
        (change)="onFileDropped($event)"
        formControlName="profileImage"
      />
      <div>
        <button
          class="btn btn-lg btn-primary mt-5 mb-2"
          (click)="onUploadImg()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <div class="file-icon fs-1" style="width: 50px">
        <i class="fa-solid fa-file"></i>
      </div>
      <div class="info">
        <h4 class="name">{{ file?.name }}</h4>
        <p class="size">{{ file?.size }}</p>
      </div>
      <div class="delete" (click)="onDeleteFile(i)">
        <button class="btn btn-md btn-danger">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <h2>File Upload</h2>
  <hr />
  <form [formGroup]="frmImageUpload">
    <div class="col-lg-4">
      <input
        type="file"
        class="form-control form-control-lg"
        (change)="onFileDropped($event)"
      />
    </div>
    <div class="mt-3 col-lg-4" *ngIf="uploadedMedia?.status === 'error'">
      <div [innerHTML]="uploadedMedia?.message"></div>
    </div>
    <div class="mt-3 col-lg-4" *ngIf="uploadedMedia?.status === 'progress'">
      <div class="progress" style="height: 20px; margin-bottom: 20px">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          [style.width.%]="uploadedMedia?.message"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ uploadedMedia.message }}%
        </div>
      </div>
    </div>
    <div class="mt-3">
      <button class="btn btn-lg btn-primary" (click)="onUploadImg()">
        Submit
      </button>
    </div>
  </form>
  <!-- <hr /> -->
  <!-- <div class="mt-4">
    <h3 class="text-danger">Apex Chart</h3>
    <hr />
    <apx-chart [series]="series" [chart]="chart2" [title]="title1"></apx-chart>
  </div> -->
</div>

<router-outlet></router-outlet>
